@import "vars";
@import "fonts";

body {
	font-size: 16px;
	min-width: 320px;
	position: relative;
	line-height: 19px;
	font-family: $default-font;
	color: $light-grey-color;
	margin: 0;

	input, textarea {
		border: 1px solid rgba(33, 33, 33, 0.2);
		outline: none;
	}

	button {
		border: none;
		background: none;
		padding: 0;
	}

	ul {
		margin: 0;
		padding: 0;
		list-style: none;
	}

	h1, h2, h3, h4, p {
		margin: 0;
	}

	h2 {
		font-weight: 700;
		font-size: 28px;
		line-height: 33px;
		text-align: center;
		letter-spacing: 0.03em;
		color: $dark-grey-color;
		margin-bottom: 30px;
	}

	a {
		text-decoration: none;
	}

	.wrapper {
		overflow: hidden;
		background-color: $white-color;
		position: relative;
	}

	.container {
		min-width: 290px;
		max-width: 1170px;
		padding: 0 15px;
		margin: 0 auto;
	}
}

@import "header";
@import "modal";
@import "home";
@import "footer";

@import "header-media";
@import "home-media";
@import "footer-media";
